<!DOCTYPE html>
<html>

<head>
  <title>404 Not found</title>
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  {{>header}}
  <div class="impostor">
    <div class="main-content contenedor-principal pico">
      <p>{{errorMessage}}</p>
    </div>
  </div>
  {{>footer}}
</body>

</html>
