<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Este sitio fue creado por Ignacio Fuenzalida, utiliza datos de mapbox.com para obtener localizacion exacta a
            partir de una direccion y weatherstack.com para obtener el clima.
        </p>
        <img class="portrait" src="img/15.png" alt="">
    </div>

    {{>footer}}
</body>

</html>