<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  {{>header}}
  <div class="back">
    <main class="main-content contenedor-principal">
      <p>Tu Vieja</p>
    </main>
  </div>

  {{>footer}}
</body>

</html>
