<!DOCTYPE html>
<html>

<head>
  <title>Help</title>
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  {{>header}}
  <div class="main-content contenedor-principal pico">
    <img src="../img/ass.jpg" alt="">
    <p>{{helpText}}</p>

  </div>

  {{>footer}}
</body>

</html>
