<header class="fondo-header">
  <div class="main-content contenedor">
      <a href="/">
        <h1>{{tittle}}</h1>
      </a>
      <nav class="navegacion">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
      </nav>
  </div>
</header>
